.card {
    position: absolute;
  }
  
  /* First Frame */
  #city1, 
  #city2,
  #geo {
    opacity: 0;
    transition: opacity 1s;
  }
  
  /* Last Frame */
  #city1:target,
  #city2:target, 
  #geo:target {
    z-index: 1; 
    opacity: 1;
  }
  