body {
	background: #06beb6;  /* fallback for old browsers */
	font-family: 'Lato', sans-serif;
	height: 100vh;
	font-size: 22px;
	color: #efefef;
	background-attachment: fixed;
	text-align: center;
}
